html {
  box-sizing: border-box;
  font-size: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #cecece; }
  @media only screen and (min-width: 1000px) {
    body {
      padding: 1.5rem; } }
